<div class="row">
    <h3 class="text-center">{{force.name}}</h3>
</div>
<div class="row">
    <div class="col-md-12">
        <h5 class="fw-bold">Force Description:</h5>
        <p>{{force.description | removeTags}}</p>
        <h5 class="fw-bold">Force Contact Details:</h5>
        <p><span class="fw-bold">Web Page: </span><a [href]="force.url">{{force.url | removeTags}}</a>
        <p><span class="fw-bold">Telephone: </span>{{force.telephone| removeTags}}</p>
        </div>
</div>
<div class="row">
    <div class="col-md-2 text-center"></div>
    <div class="col-md-8 col-xs-12 text-center">
        <button class="btn btn-primary">Access Police Force Crime Data</button>
    </div>
    <div class="col-md-2 text-center"></div>
    
    
</div>

