<div class="row">
    <h2 class="text-center">{{force.name}}</h2>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="row"
             *ngFor="let city of citys">
            <button class="btn btn-primary" (click)="onCitySelected(city)">{{city}}</button>
            <hr>
        </div>
    </div>
    <div class="col-md-8">
      <div class="card bg-light">     
        <div class="card-body" *ngIf="citySelected">
            <div class="card-title fs-5 text-center">Recorded Street Level Crimes in {{citySelected}}</div>
            <label for="catagory">Street Crime Catagories: </label>
            <select name="catagory" 
                    id="catagory" 
                    class="form-control">
                    <option *ngFor="let cat of crimeCatagories"
                            [value]="cat.url">{{cat.name}}</option></select>
            <hr>
            <div class="row"> 
                <router-outlet></router-outlet>   
            </div>       
        </div>
        <div class="card-body" *ngIf="!citySelected">
            <div class="card-title fs-5 text-center">Please Select a city</div>
            <p> Street Crime data is available for the two major population centres in each UK Police Force</p>      
        </div>
        
    </div>
  </div>
</div>

